.dqm3 {
    background-image: url(css_sprites.jpg);
    background-repeat: no-repeat;
    display: block;
}

.dqm3-unknown {
    width: 75px;
    height: 75px;
    background-position: -940px -1025px;
}

.dqm3-airbagon-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -5px;
}

.dqm3-antguzzler-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -5px;
}

.dqm3-armouredwartois-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -5px;
}

.dqm3-avianandroid-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -5px;
}

.dqm3-awebergine-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -5px;
}

.dqm3-bagolaughs-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -5px;
}

.dqm3-bagworm-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -5px;
}

.dqm3-bambooligan-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -5px;
}

.dqm3-bantamweight-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -5px;
}

.dqm3-beleth-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -5px;
}

.dqm3-blinkster-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -5px;
}

.dqm3-bludgerigar-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -5px;
}

.dqm3-bodkinarcher-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -5px;
}

.dqm3-bongodrongo-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -90px;
}

.dqm3-boppinbadger-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -90px;
}

.dqm3-boxslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -90px;
}

.dqm3-brinybronco-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -90px;
}

.dqm3-bubbleslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -90px;
}

.dqm3-buddyslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -90px;
}

.dqm3-bullfinch-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -90px;
}

.dqm3-bunicorn-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -90px;
}

.dqm3-cactiball-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -90px;
}

.dqm3-candycat-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -90px;
}

.dqm3-cannibox-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -90px;
}

.dqm3-cannonbrawler-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -90px;
}

.dqm3-capsichum-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -90px;
}

.dqm3-chimaera-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -175px;
}

.dqm3-chocolategolem-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -175px;
}

.dqm3-clockworkcuckoo-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -175px;
}

.dqm3-cloudsurfer-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -175px;
}

.dqm3-croc-a-bugle-doo-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -175px;
}

.dqm3-cruelcumber-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -175px;
}

.dqm3-cumaulus-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -175px;
}

.dqm3-cyclops-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -175px;
}

.dqm3-cyclown-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -175px;
}

.dqm3-damselfly-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -175px;
}

.dqm3-dancingdevil-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -175px;
}

.dqm3-darksabrecub-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -175px;
}

.dqm3-darkslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -175px;
}

.dqm3-deadresident-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -260px;
}

.dqm3-dessertdemon-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -260px;
}

.dqm3-disfigurine-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -260px;
}

.dqm3-dracky-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -260px;
}

.dqm3-dragonthorn-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -260px;
}

.dqm3-dragracer-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -260px;
}

.dqm3-drakeslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -260px;
}

.dqm3-drakularge-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -260px;
}

.dqm3-drohldrone-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -260px;
}

.dqm3-eggsoskeleton-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -260px;
}

.dqm3-erazorblade-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -260px;
}

.dqm3-escudogre-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -260px;
}

.dqm3-fatrat-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -260px;
}

.dqm3-feralball-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -345px;
}

.dqm3-feralslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -345px;
}

.dqm3-firespirit-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -345px;
}

.dqm3-flython-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -345px;
}

.dqm3-foodog-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -345px;
}

.dqm3-frightbulb-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -345px;
}

.dqm3-fromagefray-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -345px;
}

.dqm3-funghoul-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -345px;
}

.dqm3-garuda-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -345px;
}

.dqm3-gasbagon-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -345px;
}

.dqm3-ghost-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -345px;
}

.dqm3-goonachegoodie-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -345px;
}

.dqm3-greatsabrecub-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -345px;
}

.dqm3-greendragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -430px;
}

.dqm3-gremlin-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -430px;
}

.dqm3-grinferno-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -430px;
}

.dqm3-guaardvark-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -430px;
}

.dqm3-hammerhood-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -430px;
}

.dqm3-hawkman-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -430px;
}

.dqm3-healslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -430px;
}

.dqm3-hellboundhorror-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -430px;
}

.dqm3-hellnino-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -430px;
}

.dqm3-hood-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -430px;
}

.dqm3-hoopertrooper-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -430px;
}

.dqm3-horriflyingsaucers-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -430px;
}

.dqm3-huntermech-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -430px;
}

.dqm3-imp-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -515px;
}

.dqm3-jailcat-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -515px;
}

.dqm3-jargon-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -515px;
}

.dqm3-jumpingjackal-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -515px;
}

.dqm3-khalamarikid-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -515px;
}

.dqm3-killergila-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -515px;
}

.dqm3-killerpillar-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -515px;
}

.dqm3-kingkelp-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -515px;
}

.dqm3-kisser-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -515px;
}

.dqm3-knighterrant-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -515px;
}

.dqm3-komodo-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -515px;
}

.dqm3-lampling-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -515px;
}

.dqm3-leafylarrikin-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -515px;
}

.dqm3-leerylout-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -600px;
}

.dqm3-lips-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -600px;
}

.dqm3-lumberinglizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -600px;
}

.dqm3-lumpwizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -600px;
}

.dqm3-lunatick-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -600px;
}

.dqm3-madmollusk-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -600px;
}

.dqm3-mecha-mynah-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -600px;
}

.dqm3-meowgician-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -600px;
}

.dqm3-merman-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -600px;
}

.dqm3-mischievousmole-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -600px;
}

.dqm3-miteyoak-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -600px;
}

.dqm3-monolog-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -600px;
}

.dqm3-mottleslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -600px;
}

.dqm3-mouseflap_thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -685px;
}

.dqm3-muddyhand-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -685px;
}

.dqm3-mudmannequin-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -685px;
}

.dqm3-mudraker-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -685px;
}

.dqm3-mummyboy-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -685px;
}

.dqm3-napir-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -685px;
}

.dqm3-nardragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -685px;
}

.dqm3-octopot-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -685px;
}

.dqm3-oddcob-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -685px;
}

.dqm3-onionslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -685px;
}

.dqm3-orc-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -685px;
}

.dqm3-orneryonion-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -685px;
}

.dqm3-panpiper-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -685px;
}

.dqm3-pickayune-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -770px;
}

.dqm3-picksy-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -770px;
}

.dqm3-platypunk-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -770px;
}

.dqm3-pocuspoppet-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -770px;
}

.dqm3-pogoinpenguin-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -770px;
}

.dqm3-powieyowie-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -770px;
}

.dqm3-prancingpillar-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -770px;
}

.dqm3-pteranodon-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -770px;
}

.dqm3-putrefido-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -770px;
}

.dqm3-raptile-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -770px;
}

.dqm3-ratatattack-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -770px;
}

.dqm3-restlessarmour-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -770px;
}

.dqm3-robberrabbit-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -770px;
}

.dqm3-rockbomb-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -855px;
}

.dqm3-rubbleslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -855px;
}

.dqm3-sacksquatch-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -855px;
}

.dqm3-scallopslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -855px;
}

.dqm3-scarfish-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -855px;
}

.dqm3-scissorbeatle-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -855px;
}

.dqm3-scornet-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -855px;
}

.dqm3-seeurchin-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -855px;
}

.dqm3-shadow-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -855px;
}

.dqm3-shamhatwitch-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -855px;
}

.dqm3-she-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -855px;
}

.dqm3-shellslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -855px;
}

.dqm3-skeleton-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -855px;
}

.dqm3-skipper-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -940px;
}

.dqm3-skullrider-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -940px;
}

.dqm3-slickslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -940px;
}

.dqm3-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -940px;
}

.dqm3-slimeknight-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -940px;
}

.dqm3-slimeshroom-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -940px;
}

.dqm3-slimestack-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -940px;
}

.dqm3-smallfry-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -940px;
}

.dqm3-snailslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -940px;
}

.dqm3-snowmangler-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -940px;
}

.dqm3-softservespook-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -940px;
}

.dqm3-spinyslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -940px -940px;
}

.dqm3-spitnik-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -940px;
}

.dqm3-spitzfire-thumb {
    width: 75px;
    height: 75px;
    background-position: -5px -1025px;
}

.dqm3-stabosaur-thumb {
    width: 75px;
    height: 75px;
    background-position: -90px -1025px;
}

.dqm3-starkraven-thumb {
    width: 75px;
    height: 75px;
    background-position: -175px -1025px;
}

.dqm3-stringfella-thumb {
    width: 75px;
    height: 75px;
    background-position: -260px -1025px;
}

.dqm3-stumpchump-thumb {
    width: 75px;
    height: 75px;
    background-position: -345px -1025px;
}

.dqm3-succubat-thumb {
    width: 75px;
    height: 75px;
    background-position: -430px -1025px;
}

.dqm3-sucklingocker-thumb {
    width: 75px;
    height: 75px;
    background-position: -515px -1025px;
}

.dqm3-sunsetsultan-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1025px;
}

.dqm3-teenysanguini-thumb {
    width: 75px;
    height: 75px;
    background-position: -685px -1025px;
}

.dqm3-toady-thumb {
    width: 75px;
    height: 75px;
    background-position: -770px -1025px;
}

.dqm3-tortoceratops-thumb {
    width: 75px;
    height: 75px;
    background-position: -855px -1025px;
}

.dqm3-ursamajor-thumb {
    width: 75px;
    height: 75px;
    background-position: -1025px -1025px;
}

.dqm3-vampirecat-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -5px;
}

.dqm3-vegandragora-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -90px;
}

.dqm3-walkingcorpse-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -175px;
}

.dqm3-waxmurderer-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -260px;
}

.dqm3-weakenbeakon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -345px;
}

.dqm3-weartiger-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -430px;
}

.dqm3-whizzard-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -515px;
}

.dqm3-wingslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -600px;
}

.dqm3-winky-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -685px;
}

.dqm3-woebergine-thumb {
    width: 75px;
    height: 75px;
    background-position: -1110px -770px;
}
