.dqm3 {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.dqm3-unknown-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1275px;
}

.dqm3-a3g15-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 0;
}

.dqm3-aamon-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px 0;
}

.dqm3-abominable-showman-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px 0;
}

.dqm3-abracadabrador-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px 0;
}

.dqm3-abyss-diver-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px 0;
}

.dqm3-abyssal-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px 0;
}

.dqm3-admirer-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px 0;
}

.dqm3-airbagon-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px 0;
}

.dqm3-alarmour-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px 0;
}

.dqm3-angel-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px 0;
}

.dqm3-antguzzler-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px 0;
}

.dqm3-archdemon-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px 0;
}

.dqm3-armoured-scorpion-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px 0;
}

.dqm3-armoured-wartoise-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px 0;
}

.dqm3-assassin-circle-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px 0;
}

.dqm3-atlas-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px 0;
}

.dqm3-avarith-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px 0;
}

.dqm3-avian-android-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px 0;
}

.dqm3-awebergine-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px 0;
}

.dqm3-axesaurus-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px 0;
}

.dqm3-bag-o-laughs-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px 0;
}

.dqm3-bag-o-sweets-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px 0;
}

.dqm3-bag-o-tricks-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -75px;
}

.dqm3-bagworm-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -75px;
}

.dqm3-baleen-mage-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -75px;
}

.dqm3-balhib-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -75px;
}

.dqm3-balzack-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -75px;
}

.dqm3-bamboogieman-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -75px;
}

.dqm3-bambooligan-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -75px;
}

.dqm3-bantamweight-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -75px;
}

.dqm3-baramos-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -75px;
}

.dqm3-barbarus-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -75px;
}

.dqm3-barbatos-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -75px;
}

.dqm3-barracuda-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -75px;
}

.dqm3-beanie-meanie-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -75px;
}

.dqm3-behemoth-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -75px;
}

.dqm3-beleth-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -75px;
}

.dqm3-belial-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -75px;
}

.dqm3-belisha-beakon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -75px;
}

.dqm3-beshemoth-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -75px;
}

.dqm3-bilhaw-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -75px;
}

.dqm3-bishop-ladja-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -75px;
}

.dqm3-black-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -75px;
}

.dqm3-blinkster-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -75px;
}

.dqm3-blizzybody-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -150px;
}

.dqm3-bloody-hand-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -150px;
}

.dqm3-bludgerigar-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -150px;
}

.dqm3-blue-moon-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -150px;
}

.dqm3-bobonga-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -150px;
}

.dqm3-bodkin-archer-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -150px;
}

.dqm3-bodkin-fletcher-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -150px;
}

.dqm3-bomboulder-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -150px;
}

.dqm3-bone-baron-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -150px;
}

.dqm3-bone-idol-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -150px;
}

.dqm3-bones-of-baramos-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -150px;
}

.dqm3-bongo-drongo-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -150px;
}

.dqm3-bongo-fandango-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -150px;
}

.dqm3-boppin-badger-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -150px;
}

.dqm3-boreal-serpent-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -150px;
}

.dqm3-boss-troll-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -150px;
}

.dqm3-box-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -150px;
}

.dqm3-brimstone-bulb-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -150px;
}

.dqm3-briny-bronco-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -150px;
}

.dqm3-brollygagger-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -150px;
}

.dqm3-brownie-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -150px;
}

.dqm3-bubble-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -150px;
}

.dqm3-buddy-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -225px;
}

.dqm3-buffalogre-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -225px;
}

.dqm3-bullfinch-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -225px;
}

.dqm3-bunicorn-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -225px;
}

.dqm3-buntzenberner-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -225px;
}

.dqm3-cactiball-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -225px;
}

.dqm3-calypso-king-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -225px;
}

.dqm3-candy-cat-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -225px;
}

.dqm3-cannibox-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -225px;
}

.dqm3-cannonbrawler-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -225px;
}

.dqm3-capsichum-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -225px;
}

.dqm3-carnivine-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -225px;
}

.dqm3-cauldragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -225px;
}

.dqm3-cetacean-sorcerer-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -225px;
}

.dqm3-cheater-cheetah-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -225px;
}

.dqm3-chihuawyrm-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -225px;
}

.dqm3-chimaera-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -225px;
}

.dqm3-chocolate-golem-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -225px;
}

.dqm3-chocolate-whisp-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -225px;
}

.dqm3-clawvus-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -225px;
}

.dqm3-clobster-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -225px;
}

.dqm3-clockwork-cuckoo-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -225px;
}

.dqm3-cloud-surfer-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -300px;
}

.dqm3-cococoa-blobelisk-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -300px;
}

.dqm3-coralossus-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -300px;
}

.dqm3-corpsickle-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -300px;
}

.dqm3-corvus-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -300px;
}

.dqm3-cosmic-chimaera-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -300px;
}

.dqm3-crabber-dabber-doo-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -300px;
}

.dqm3-crabid-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -300px;
}

.dqm3-creme-caraslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -300px;
}

.dqm3-croc-a-bugle-doo-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -300px;
}

.dqm3-cross-eye-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -300px;
}

.dqm3-crowgre-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -300px;
}

.dqm3-cruelcumber-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -300px;
}

.dqm3-cumaulus-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -300px;
}

.dqm3-cureslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -300px;
}

.dqm3-cursed-crooner-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -300px;
}

.dqm3-cyber-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -300px;
}

.dqm3-cyclops-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -300px;
}

.dqm3-cyclown-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -300px;
}

.dqm3-damselfly-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -300px;
}

.dqm3-dancing-devil-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -300px;
}

.dqm3-dancing-flame-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -300px;
}

.dqm3-dangler-fish-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -375px;
}

.dqm3-dark-hare-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -375px;
}

.dqm3-dark-king-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -375px;
}

.dqm3-dark-sabrecat-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -375px;
}

.dqm3-dark-sabrecub-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -375px;
}

.dqm3-dark-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -375px;
}

.dqm3-dead-resident-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -375px;
}

.dqm3-demon-at-arms-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -375px;
}

.dqm3-dessert-demon-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -375px;
}

.dqm3-dhoulmagus-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -375px;
}

.dqm3-diamond-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -375px;
}

.dqm3-discombombulator-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -375px;
}

.dqm3-disfigurine-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -375px;
}

.dqm3-don-mole-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -375px;
}

.dqm3-dora-in-grey-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -375px;
}

.dqm3-drackolyte-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -375px;
}

.dqm3-dracky-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -375px;
}

.dqm3-drackyma-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -375px;
}

.dqm3-drag-racer-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -375px;
}

.dqm3-dragon-rider-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -375px;
}

.dqm3-dragon-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -375px;
}

.dqm3-dragonthorn-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -375px;
}

.dqm3-draguar-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -450px;
}

.dqm3-drake-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -450px;
}

.dqm3-drakulard-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -450px;
}

.dqm3-drakularge-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -450px;
}

.dqm3-dread-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -450px;
}

.dqm3-dread-dragooner-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -450px;
}

.dqm3-drohl-drone-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -450px;
}

.dqm3-drooling-ghoul-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -450px;
}

.dqm3-dullahan-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -450px;
}

.dqm3-eggsoskeleton-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -450px;
}

.dqm3-emperor-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -450px;
}

.dqm3-equinox-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -450px;
}

.dqm3-erazor-blade-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -450px;
}

.dqm3-escudogre-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -450px;
}

.dqm3-estark-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -450px;
}

.dqm3-ethereal-serpent-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -450px;
}

.dqm3-evil-sir-leopold-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -450px;
}

.dqm3-ewwnicorn-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -450px;
}

.dqm3-face-invader-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -450px;
}

.dqm3-fandangow-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -450px;
}

.dqm3-fat-rat-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -450px;
}

.dqm3-feral-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -450px;
}

.dqm3-feralball-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -525px;
}

.dqm3-fightgeist-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -525px;
}

.dqm3-firebird-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -525px;
}

.dqm3-firespirit-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -525px;
}

.dqm3-firn-fiend-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -525px;
}

.dqm3-flamethrower-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -525px;
}

.dqm3-flapdragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -525px;
}

.dqm3-float-o-copier-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -525px;
}

.dqm3-fluffy-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -525px;
}

.dqm3-flurry-fiend-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -525px;
}

.dqm3-flutter-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -525px;
}

.dqm3-flying-saucers-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -525px;
}

.dqm3-flython-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -525px;
}

.dqm3-foebergine-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -525px;
}

.dqm3-foo-dog-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -525px;
}

.dqm3-fowl-beast-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -525px;
}

.dqm3-freezing-fog-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -525px;
}

.dqm3-fright-bulb-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -525px;
}

.dqm3-fright-knight-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -525px;
}

.dqm3-frightful-conductor-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -525px;
}

.dqm3-frolicker-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -525px;
}

.dqm3-fromage-fey-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -525px;
}

.dqm3-fromage-fray-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -600px;
}

.dqm3-frostburn-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -600px;
}

.dqm3-funghoul-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -600px;
}

.dqm3-fuzzy-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -600px;
}

.dqm3-gander-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -600px;
}

.dqm3-gangleclaw-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -600px;
}

.dqm3-gargoyle-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -600px;
}

.dqm3-garuda-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -600px;
}

.dqm3-gasbagon-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -600px;
}

.dqm3-gem-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -600px;
}

.dqm3-ghost-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -600px;
}

.dqm3-gigantes-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -600px;
}

.dqm3-giruffian-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -600px;
}

.dqm3-github {
    width: 30px;
    height: 30px;
    background-position: -1650px 0;
}

.dqm3-gmail {
    width: 30px;
    height: 30px;
    background-position: -1680px 0;
}

.dqm3-gnumesis-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -600px;
}

.dqm3-gnuriel-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -600px;
}

.dqm3-golem-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -600px;
}

.dqm3-goodybag-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -600px;
}

.dqm3-goomulonimbus-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -600px;
}

.dqm3-goonache-goodie-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -600px;
}

.dqm3-grandpa-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -600px;
}

.dqm3-graven-idol-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -600px;
}

.dqm3-great-argon-lizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -600px;
}

.dqm3-great-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -675px;
}

.dqm3-great-keeper-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -675px;
}

.dqm3-great-sabercat-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -675px;
}

.dqm3-great-sabrecub-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -675px;
}

.dqm3-greater-platypink-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -675px;
}

.dqm3-greater-platypunk-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -675px;
}

.dqm3-green-bogey-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -675px;
}

.dqm3-green-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -675px;
}

.dqm3-gremlin-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -675px;
}

.dqm3-greygnarl-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -675px;
}

.dqm3-grillerpillar-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -675px;
}

.dqm3-grim-keeper-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -675px;
}

.dqm3-grim-rider-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -675px;
}

.dqm3-grincinerator-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -675px;
}

.dqm3-grinferno-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -675px;
}

.dqm3-gripevine-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -675px;
}

.dqm3-grotwyrm-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -675px;
}

.dqm3-grrrgoyle-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -675px;
}

.dqm3-gryphon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -675px;
}

.dqm3-guaardvark-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -675px;
}

.dqm3-hacksaurus-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -675px;
}

.dqm3-hades-condor-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -675px;
}

.dqm3-ham-shamwitch-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -750px;
}

.dqm3-hammerhood-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -750px;
}

.dqm3-hard-boiled-eggsoskeleton-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -750px;
}

.dqm3-hargon-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -750px;
}

.dqm3-harmour-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -750px;
}

.dqm3-hawk-man-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -750px;
}

.dqm3-headless-horseman-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -750px;
}

.dqm3-healslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -750px;
}

.dqm3-heligator-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -750px;
}

.dqm3-hell-gladiator-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -750px;
}

.dqm3-hell-nino-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -750px;
}

.dqm3-hellbound-hair-raiser-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -750px;
}

.dqm3-hellbound-horror-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -750px;
}

.dqm3-hellion-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -750px;
}

.dqm3-hellspawn-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -750px;
}

.dqm3-hocus-poker-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -750px;
}

.dqm3-hood-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -750px;
}

.dqm3-hooper-trooper-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -750px;
}

.dqm3-horriflying-saucers-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -750px;
}

.dqm3-hunter-mech-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -750px;
}

.dqm3-hyperanemon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -750px;
}

.dqm3-hyperboarean-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -750px;
}

.dqm3-hypothermion-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -825px;
}

.dqm3-ice-breaker-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -825px;
}

.dqm3-imp-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -825px;
}

.dqm3-infernal-serpent-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -825px;
}

.dqm3-iron-maiden-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -825px;
}

.dqm3-iron-tortoise-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -825px;
}

.dqm3-jailcat-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -825px;
}

.dqm3-jargon-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -825px;
}

.dqm3-jasper-unbound-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -825px;
}

.dqm3-jester-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -825px;
}

.dqm3-jinkster-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -825px;
}

.dqm3-jowler-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -825px;
}

.dqm3-jugular-joker-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -825px;
}

.dqm3-jumping-jackal-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -825px;
}

.dqm3-khalamari-kid-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -825px;
}

.dqm3-khalasmos-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -825px;
}

.dqm3-killer-gila-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -825px;
}

.dqm3-killerpillar-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -825px;
}

.dqm3-killing-machine-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -825px;
}

.dqm3-king-bubble-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -825px;
}

.dqm3-king-cureslime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -825px;
}

.dqm3-king-foo-dog-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -825px;
}

.dqm3-king-hydra-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -900px;
}

.dqm3-king-jester-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -900px;
}

.dqm3-king-kelp-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -900px;
}

.dqm3-king-slick-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -900px;
}

.dqm3-king-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -900px;
}

.dqm3-king-squid-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -900px;
}

.dqm3-kisser-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -900px;
}

.dqm3-knight-abhorrent-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -900px;
}

.dqm3-knight-errant-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -900px;
}

.dqm3-komodo-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -900px;
}

.dqm3-krystalinda-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -900px;
}

.dqm3-lampling-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -900px;
}

.dqm3-leafy-larrikin-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -900px;
}

.dqm3-leery-lout-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -900px;
}

.dqm3-liege-lizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -900px;
}

.dqm3-lieutenant-goreham-hogg-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -900px;
}

.dqm3-lieutenant-goresby-purrvis-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -900px;
}

.dqm3-lieutenant-hootingham-gore-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -900px;
}

.dqm3-linkedin {
    width: 30px;
    height: 30px;
    background-position: -1650px -30px;
}

.dqm3-lips-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -900px;
}

.dqm3-liquid-metal-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -900px;
}

.dqm3-living-statue-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -900px;
}

.dqm3-lord-of-the-dragovians-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -900px;
}

.dqm3-low-djinks-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -975px;
}

.dqm3-lumbering-lizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -975px;
}

.dqm3-luminous-lampling-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -975px;
}

.dqm3-lump-shaman-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -975px;
}

.dqm3-lump-wizard-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -975px;
}

.dqm3-lunatick-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -975px;
}

.dqm3-luneyetic-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -975px;
}

.dqm3-macho-picchu-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -975px;
}

.dqm3-mad-mollusk-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -975px;
}

.dqm3-magmalice-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -975px;
}

.dqm3-malroth-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -975px;
}

.dqm3-mandrake-major-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -975px;
}

.dqm3-mandrake-marshal-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -975px;
}

.dqm3-mangleclaw-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -975px;
}

.dqm3-maniacal-mole-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -975px;
}

.dqm3-marquis-de-leon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -975px;
}

.dqm3-marrow-escapee-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -975px;
}

.dqm3-mecha-mynah-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -975px;
}

.dqm3-mechan-o-wyrm-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -975px;
}

.dqm3-meowgician-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -975px;
}

.dqm3-merman-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -975px;
}

.dqm3-metal-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -975px;
}

.dqm3-metal-king-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1050px;
}

.dqm3-metal-scorpion-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1050px;
}

.dqm3-metal-slime-knight-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1050px;
}

.dqm3-metal-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1050px;
}

.dqm3-mimic-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1050px;
}

.dqm3-mimic-with-cheese-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1050px;
}

.dqm3-minidemon-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1050px;
}

.dqm3-mischievous-mole-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1050px;
}

.dqm3-missing-lynx-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1050px;
}

.dqm3-mitey-oak-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1050px;
}

.dqm3-mogus-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1050px;
}

.dqm3-mohawker-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1050px;
}

.dqm3-monolog-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1050px;
}

.dqm3-moosifer-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1050px;
}

.dqm3-mordegon-lord-of-shadows-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1050px;
}

.dqm3-morphean-mushroom-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1050px;
}

.dqm3-mortamor-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1050px;
}

.dqm3-mortoad-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1050px;
}

.dqm3-mottle-she-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1050px;
}

.dqm3-mottle-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1050px;
}

.dqm3-mouldy-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1050px;
}

.dqm3-mouseflap-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1050px;
}

.dqm3-mud-mannequin-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1125px;
}

.dqm3-muddy-hand-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1125px;
}

.dqm3-mudraker-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1125px;
}

.dqm3-mummy-boy-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1125px;
}

.dqm3-murdaw-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1125px;
}

.dqm3-napir-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1125px;
}

.dqm3-nardragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1125px;
}

.dqm3-neer-do-well-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1125px;
}

.dqm3-nelgel-the-netherfiend-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1125px;
}

.dqm3-night-clubber-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1125px;
}

.dqm3-night-emperor-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1125px;
}

.dqm3-night-knight-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1125px;
}

.dqm3-night-sneaker-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1125px;
}

.dqm3-nimzo-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1125px;
}

.dqm3-noble-gasbagon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1125px;
}

.dqm3-nokturnus-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1125px;
}

.dqm3-notso-macho-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1125px;
}

.dqm3-octopot-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1125px;
}

.dqm3-odd-cob-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1125px;
}

.dqm3-ogre-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1125px;
}

.dqm3-one-man-army-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1125px;
}

.dqm3-onion-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1125px;
}

.dqm3-orc-king-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1200px;
}

.dqm3-orc-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1200px;
}

.dqm3-orgodemir-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1200px;
}

.dqm3-ornery-onion-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1200px;
}

.dqm3-orochi-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1200px;
}

.dqm3-overkilling-machine-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1200px;
}

.dqm3-overtoad-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1200px;
}

.dqm3-palooka-prawn-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1200px;
}

.dqm3-pan-piper-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1200px;
}

.dqm3-pandoras-box-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1200px;
}

.dqm3-paralyslicer-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1200px;
}

.dqm3-parched-peckerel-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1200px;
}

.dqm3-pasty-pastry-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1200px;
}

.dqm3-pazuzu-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1200px;
}

.dqm3-peeper-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1200px;
}

.dqm3-phantom-fencer-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1200px;
}

.dqm3-phantom-swordsman-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1200px;
}

.dqm3-phoenix-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1200px;
}

.dqm3-pickayune-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1200px;
}

.dqm3-picksy-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1200px;
}

.dqm3-platypunk-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1200px;
}

.dqm3-pocus-poppet-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1200px;
}

.dqm3-pogoin-penguin-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1275px;
}

.dqm3-powie-yowie-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1275px;
}

.dqm3-prancing-pillar-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1275px;
}

.dqm3-prism-peacock-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1275px;
}

.dqm3-pruslas-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1275px;
}

.dqm3-psaro-the-manslayer-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1275px;
}

.dqm3-psaros-pawn-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1275px;
}

.dqm3-pteranodon-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1275px;
}

.dqm3-puffpoise-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1275px;
}

.dqm3-purrgatroyd-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1275px;
}

.dqm3-putrefido-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1275px;
}

.dqm3-queen-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1275px;
}

.dqm3-rabid-rector-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1275px;
}

.dqm3-ramia-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1275px;
}

.dqm3-raptile-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1275px;
}

.dqm3-rashaverak-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1275px;
}

.dqm3-ratatattack-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1275px;
}

.dqm3-razerburn-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1275px;
}

.dqm3-restless-armour-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1275px;
}

.dqm3-rhapthorne-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1275px;
}

.dqm3-rhinoceraxe-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1275px;
}

.dqm3-ripped-rabbit-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1275px;
}

.dqm3-robber-rabbit-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1350px;
}

.dqm3-robin-ood-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1350px;
}

.dqm3-rockbomb-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1350px;
}

.dqm3-rockin-rockhopper-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1350px;
}

.dqm3-roistering-rooster-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1350px;
}

.dqm3-ronin-raccoon-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1350px;
}

.dqm3-roseguardin-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1350px;
}

.dqm3-rotten-cotton-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1350px;
}

.dqm3-royal-reptile-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1350px;
}

.dqm3-rubble-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1350px;
}

.dqm3-saccharine-sacksquatch-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1350px;
}

.dqm3-sacksquatch-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1350px;
}

.dqm3-saltwater-stallion-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1350px;
}

.dqm3-scallop-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1350px;
}

.dqm3-scarfish-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1350px;
}

.dqm3-scissor-beatle-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1350px;
}

.dqm3-scornet-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1350px;
}

.dqm3-scourgette-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1350px;
}

.dqm3-scruffy-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1350px;
}

.dqm3-sculptrice-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1350px;
}

.dqm3-scuttle-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1350px;
}

.dqm3-see-urchin-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1350px;
}

.dqm3-sekerleton-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1425px;
}

.dqm3-serpent-of-the-scales-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1425px;
}

.dqm3-shadow-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1425px;
}

.dqm3-shadow-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1425px;
}

.dqm3-sham-hatwitch-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1425px;
}

.dqm3-she-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1425px;
}

.dqm3-shell-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1425px;
}

.dqm3-shivery-shrubbery-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1425px;
}

.dqm3-shogum-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1425px;
}

.dqm3-silvapithecus-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1425px;
}

.dqm3-silver-serpent-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1425px;
}

.dqm3-sintaur-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1425px;
}

.dqm3-skelegon-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1425px;
}

.dqm3-skeleton-soldier-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1425px;
}

.dqm3-skeleton-swordsman-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1425px;
}

.dqm3-skeleton-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1425px;
}

.dqm3-skellyfish-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1425px;
}

.dqm3-skipper-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1425px;
}

.dqm3-skullrider-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1425px;
}

.dqm3-slick-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1425px;
}

.dqm3-slime-knight-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1425px;
}

.dqm3-slime-snack-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1425px;
}

.dqm3-slime-stack-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1500px;
}

.dqm3-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1500px;
}

.dqm3-slimecicle-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1500px;
}

.dqm3-slimeshroom-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1500px;
}

.dqm3-slionheart-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1500px;
}

.dqm3-small-fry-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1500px;
}

.dqm3-snail-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1500px;
}

.dqm3-snipevine-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1500px;
}

.dqm3-snowbird-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1500px;
}

.dqm3-snowgre-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1500px;
}

.dqm3-snowmangler-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1500px;
}

.dqm3-soft-serve-spook-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1500px;
}

.dqm3-soulspawn-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1500px;
}

.dqm3-soy-soldier-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1500px;
}

.dqm3-spiked-hare-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1500px;
}

.dqm3-spinchilla-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1500px;
}

.dqm3-spiny-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1500px;
}

.dqm3-spitnik-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1500px;
}

.dqm3-spitzfire-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1500px;
}

.dqm3-splatypunk-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1500px;
}

.dqm3-sprite-bulb-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1500px;
}

.dqm3-stabosaur-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1500px;
}

.dqm3-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -1680px -30px;
}

.dqm3-stark-raven-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1575px;
}

.dqm3-stone-golem-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1575px;
}

.dqm3-stout-troll-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1575px;
}

.dqm3-string-fella-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1575px;
}

.dqm3-stump-chump-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1575px;
}

.dqm3-succubat-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1575px;
}

.dqm3-suckling-ocker-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1575px;
}

.dqm3-sugar-baddie-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1575px;
}

.dqm3-sugarstar-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1575px;
}

.dqm3-sunset-sultan-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1575px;
}

.dqm3-superior-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1575px;
}

.dqm3-sweaty-yeti-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1575px;
}

.dqm3-swingre-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1575px;
}

.dqm3-tantamount-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1575px;
}

.dqm3-tartarus-eagle-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1575px;
}

.dqm3-teeny-sanguini-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1575px;
}

.dqm3-tentacular-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1575px;
}

.dqm3-the-almighty-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1575px;
}

.dqm3-the-darkling-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1575px;
}

.dqm3-the-dragonlord-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1575px;
}

.dqm3-the-time-being-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1575px;
}

.dqm3-the-trauminator-thumb {
    width: 75px;
    height: 75px;
    background-position: -1575px -1575px;
}

.dqm3-tigergram-thumb {
    width: 75px;
    height: 75px;
    background-position: -1710px 0;
}

.dqm3-toady-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -75px;
}

.dqm3-togre-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -150px;
}

.dqm3-tortoceratops-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -225px;
}

.dqm3-tortured-soul-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -300px;
}

.dqm3-tree-feller-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -375px;
}

.dqm3-treeface-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -450px;
}

.dqm3-treevil-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -525px;
}

.dqm3-triple-splatty-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -600px;
}

.dqm3-true-dragonlord-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -675px;
}

.dqm3-tuffpoise-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -750px;
}

.dqm3-tufty-tot-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -825px;
}

.dqm3-tumblr {
    width: 30px;
    height: 30px;
    background-position: -1725px -75px;
}

.dqm3-tundragster-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -900px;
}

.dqm3-tuskateer-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -975px;
}

.dqm3-twitter {
    width: 30px;
    height: 30px;
    background-position: -1755px -75px;
}

.dqm3-tyrannoceratops-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1050px;
}

.dqm3-uberkilling-machine-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1125px;
}

.dqm3-umbra-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1200px;
}

.dqm3-ursa-major-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1350px;
}

.dqm3-ursa-mega-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1425px;
}

.dqm3-vampire-cat-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1500px;
}

.dqm3-vegandragora-thumb {
    width: 75px;
    height: 75px;
    background-position: -1650px -1575px;
}

.dqm3-walking-corpse-thumb {
    width: 75px;
    height: 75px;
    background-position: 0 -1650px;
}

.dqm3-warhog-thumb {
    width: 75px;
    height: 75px;
    background-position: -75px -1650px;
}

.dqm3-wax-murderer-thumb {
    width: 75px;
    height: 75px;
    background-position: -150px -1650px;
}

.dqm3-weaken-beakon-thumb {
    width: 75px;
    height: 75px;
    background-position: -225px -1650px;
}

.dqm3-weartiger-thumb {
    width: 75px;
    height: 75px;
    background-position: -300px -1650px;
}

.dqm3-well-wisher-thumb {
    width: 75px;
    height: 75px;
    background-position: -375px -1650px;
}

.dqm3-whizzard-thumb {
    width: 75px;
    height: 75px;
    background-position: -450px -1650px;
}

.dqm3-wight-king-thumb {
    width: 75px;
    height: 75px;
    background-position: -525px -1650px;
}

.dqm3-wild-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -600px -1650px;
}

.dqm3-wing-slime-thumb {
    width: 75px;
    height: 75px;
    background-position: -675px -1650px;
}

.dqm3-winky-thumb {
    width: 75px;
    height: 75px;
    background-position: -750px -1650px;
}

.dqm3-woebergine-thumb {
    width: 75px;
    height: 75px;
    background-position: -825px -1650px;
}

.dqm3-wrecktor-thumb {
    width: 75px;
    height: 75px;
    background-position: -900px -1650px;
}

.dqm3-wyrmhole-dragon-thumb {
    width: 75px;
    height: 75px;
    background-position: -975px -1650px;
}

.dqm3-wyrtle-thumb {
    width: 75px;
    height: 75px;
    background-position: -1050px -1650px;
}

.dqm3-wyrtoise-thumb {
    width: 75px;
    height: 75px;
    background-position: -1125px -1650px;
}

.dqm3-wyvern-thumb {
    width: 75px;
    height: 75px;
    background-position: -1200px -1650px;
}

.dqm3-xenlon-thumb {
    width: 75px;
    height: 75px;
    background-position: -1275px -1650px;
}

.dqm3-zamtasm-thumb {
    width: 75px;
    height: 75px;
    background-position: -1350px -1650px;
}

.dqm3-zaptile-thumb {
    width: 75px;
    height: 75px;
    background-position: -1425px -1650px;
}

.dqm3-zoma-thumb {
    width: 75px;
    height: 75px;
    background-position: -1500px -1650px;
}
