################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/DQM3_Database/v17/.wsuo
/.vs/DQM3_Database/FileContentIndex/cade07d5-9f2f-4d40-a352-9a186a41ec41.vsidx
/.gitignore
